<%- include('../partials/header') %>


<div class="indexWrapper2">
  <div class="boxLetters2">

    
    <section id="show-page">
      
      <div>FILM TITLE</div>
      <div><%= film.title %></div>
      <div>YEAR</div>
      <div><%= film.releaseYear %></div>
      <ul>
        <ul>
          <% if (user) { %>
            <button><a href='/films/<%= film._id %>/soundtracks/new'>Add Soundtrack</a></button>
            <% } %>
            
            
            <div>Soundtracks:</div>
            <% soundtracks.forEach(function(s) { %>
              <tr>
                <td><%= s.albumTitle %></td>
                <td><%= s.songTitle %></td>
                <td><%= s.artistName %></td>
                
                <iframe width="640" height="300" src="<%= s.trackUrl %>"></iframe>
                
              </tr>
              <% }); %>
            </div>
          </div>
          
          
          <br><br><h2>Reviews</h2>
        <form id="add-review-form" method="POST"  action="/films/<%= film._id %>/reviews"></form>
          <% if (film.reviews) { %>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% let total = 0 %>
                <% film.reviews.forEach(function(r) { %>
                 
                  <tr>
                    <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"> <%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.content %></td>
                    <td><%= r.rating %></td>
                    <td>
                      <% if (user?._id.equals(r.user)) { %>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                          <button type="submit">X</button>
                        </form>
                        <% } %>
                      </td>
                    </tr>
                    <% }); %>
                    <tr>
                      <td colspan="2"></td>
                      <td>
                        <strong>
                          <%= (total / film.reviews).toFixed(1) %>
                        </strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <% } else { %>
                  <h5>No Reviews Yet</h5>
                  <% } %>
                  <p class="card-text"><small>Play Filmu again, Sam.</small></p>            
                </div>
                </div>
                <%- include('../partials/footer') %>
                